<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= render 'shared/header' %>
    <%= yield %>
    <br><br><br><br><br><br>
    
    <%= link_to "一番最初の画面",root_path %><br>
    <p>-----------------------------------------------</p>
    <%= link_to "adminアカウント作成",new_admin_user_path %><br>
    <%= link_to "adminログインページ",admin_login_path %>
    <p>-----------------------------------------------</p>
    <%= link_to "教室用アカウント作成",new_school_user_path %><br>
    <%= link_to "教室ログインページ",school_login_path %><br>
    <p>-----------------------------------------------</p>
    <%= link_to "生徒用アカウント作成",new_student_user_path %><br>
    <%= link_to "生徒ログインページ",login_path %><br>
    
    <br><br><br><br>
    
    <%= debug(params) if Rails.env.development? %>
    
  </body>
</html>
